@model IEnumerable<EFLinq.Models.MaxPriceMonthWise>

@{
    ViewBag.Title = "MaximumOrderPriceMonthWise";
}

<h2>MaximumOrderPriceMonthWise</h2>

<table class="table">
    <tr>
        <th>Date Of Purchase</th>
        <th>POID</th>
        <th>Price</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DateOfPurchase.ToString("MMMM")- @item.DateOfPurchase.Year</td>
            <td>@item.POID.POID</td>

            <td>@item.Price</td>
        </tr>
}
</table>