@model IEnumerable<EFLinq.Models.MonthWiseCustomerReport>

@{
    ViewBag.Title = "MonthWiseCustomerReportWithProducts";
}

<h2>MonthWiseCustomerReportWithProducts</h2>
<table class="table">
    <tr>
        <th>Month</th>
        <th>Customer Name</th>
        <th>Amount</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.DateOfPurchase.ToString("MMMM")- @item.DateOfPurchase.Year</td>
    <td>@item.CustomerName.CustomerName</td>

    <td>@item.Amount.Amount</td>
</tr>}
</table>